<div class="item">
    <div>Name</div>
    <div class="input">
        <input 
            type="text" 
            name="name"
            placeholder="insert your full name" 
            value="{{ user.name }}"
        >
    </div>
</div>

<div class="item">
    <div>E-mail</div>
    <div class="input">
        <input 
            type="email" 
            name="email"
            placeholder="insert your e-mail" 
            value="{{ user.email }}"
            onblur="Validate.apply(this, 'isValidEmail')"
        >
    </div>
</div>

<div class="item">
    <div>Password</div>
    <div class="input">
        <input 
            type="password" 
            name="password"
            placeholder="insert your password" 
            value="{{ user.password }}"
        >
    </div>
</div>

{% if not user.id %}
    <div class="item">
    <div>Confirm password</div>
    <div class="input">
        <input 
            type="password" 
            name="passwordConfirm"
            placeholder="Please confirm your password" 
        >
    </div>
</div>
{% endif %}

<div class="item">
    <div>CPF/CNPJ</div>
    <div class="input">
        <input 
            type="text" 
            name="cpf_cnpj"
            placeholder="insert your document" 
            value="{{ user.cpf_cnpj }}"
            onkeydown="Mask.apply(this, 'cpfCnpj')"
            maxlength="14"
            onblur="Validate.apply(this, 'isValidCpfCnpj')"
        >
    </div>
</div>

<div class="item">
    <div>CEP</div>
    <div class="input">
        <input 
            type="text" 
            name="cep"
            placeholder="Ex: 99999-999" 
            value="{{ user.cep }}"
            onkeydown="Mask.apply(this, 'cepMask')"
            maxlength="9"
            onblur="Validate.apply(this, 'isValidCep')"
        >   
    </div>
</div>

<div class="item">
    <div>Address</div>
    <div class="input">
        <input 
            type="text" 
            name="address"
            placeholder="Place your full address" 
            value="{{ user.address }}"
        >
    </div>
</div>