<!DOCTYPE html>
<html lang="en-US">

<head>

    {% block head %}
    <title>LaunchStore</title>
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    {% include "partials/styles.njk" %}
</head>

<body>

    {% include "partials/header.njk" %}
    {% include "partials/messagens.njk" %}

    {% block content %} {%  endblock %}
    
    {% include "partials/footer.njk" %}

</body>

</html>